.container {
  display: grid;
  margin: 0 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
}
@media (max-width: 900px) {
  .container {
    display: grid;
    margin: 0 50px;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
}
@media (max-width: 400px) {
  .container {
    display: grid;
    margin: 0 50px;
    grid-template-columns: 1fr;
    column-gap: 50px;
  }
}
