.playerbox {
  border: 3px solid lightblue;
  min-height: 200px;
  margin-bottom: 5px;
}
.playerboxTitle {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.stream {
  display: grid;
  grid-template-columns: 20px 1fr;
}
.statusOn {
  justify-self: center;
  align-self: center;
  content: "";
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 5px;
}
.statusOff {
  justify-self: center;
  align-self: center;
  content: "";
  height: 10px;
  width: 10px;
  background-color: gray;

  border-radius: 5px;
}
