.button {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.info {
  background-color: white;
}
.confirm {
  color: white;
  background-color: darkmagenta;
}
.exit {
  background-color: tomato;
}
.button:hover {
  transition: 300ms;
  background-color: lightgray;
  color: black;
  border: solid 1px black;
}
.button:active {
  transition: 300ms;
  background-color: cornflowerblue;
  color: white;
  border: solid 1px black;
}
